/*CAROUSEL ONE*/
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;    
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
	background-image: none;
}
.carousel-control.left {
	background-image: none;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -25px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: transparent;
	border: 1px solid black;
}
.carousel-indicators .active {
background: #000;
}
/*CAROUSEL ONE END*/
/*CAROUSEL TWO*/
.carousel2 {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
.carousel-indicators2 {
	right: 50%;
	top: auto;
	bottom: -30px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators2 li {
	background: transparent;
	border: 1px solid black;
}
.carousel-indicators2 .active {
background: #000;
}
/*CAROUSEL TWO END*/
/*CAROUSEL INDICATORS 3(HEADER SLIDER)*/
.carousel3 {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
.carousel-indicators3 {
	right: 50%;
	top: auto;
	bottom: 65px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators3 li {
	background: transparent;
	border: 1px solid black;

}
.carousel-indicators3 .active {
background: #000;
}

/*CAROUSEL INDICATORS 3(HEADER SLIDER) END*/